*{
    margin: 0px;
    padding: 0px;
    outline: none;
}
body{
    background-color: #174128;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#img-block{
    margin-top: 5%;
}
#text-block{
    margin-top: 2%;
}
#btn-block{
    margin-top: 2%;
}
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
