nav {
    height: 40px;
    width: 100%;
    background: lightgray;
    font-size: 18pt;
    font-family: Roboto;
    position: relative;
}
nav ul {
    padding: 0;
    margin: 0 auto;
    width: auto;
    height: 40px;
}
nav li {
    display: inline;
    float: left;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
nav a {
    color: darkgreen;
    display: inline-block;
    width: 150px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}
nav li a {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
nav li:last-child a {
    border-right: 0;
}
nav a:hover, nav a:active {
    background-color: #174128;
    color: lightgray;
}
nav a#pull {
    display: none;
}
@media screen and (max-width: 600px) {
    nav {
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    nav li {
        width: 50%;
        float: left;
        position: relative;
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
}
@media only screen and (max-width : 320px) {
    nav li {
        display: block;
        float: none;
        width: 100%;
    }
}
